{% extends 'base.html' %}

{% block content %}
  <style>
    .hotelNameEn{
        color: gray;
    }
    .hotelComment{
        color: gold;
    }
    .hotelLabels{
        font-weight: bold;
    }
    .hotelDistrict{

    }
    .hotelBookInfo{
        color: green;
        font-size: 16px;
    }
    .price{
        color: red;
    }
    .sortBtn{
      padding: 10px 45px;
      -webkit-box-shadow: 0px 0px 20px 11px rgba(0, 0, 0, 0.09);
      box-shadow: 0px 0px 20px 11px rgba(0, 0, 0, 0.09);
      background-color: #ffffff;
    }

    .sortBtn{
      outline: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      border-radius: 0;
      height: 45px;
      margin: 10px 0;
    }

    .sortBtn button {
      background-color: #f97616;
      color: #ffffff;
      text-transform: uppercase;
      border: none;
      height: 45px;
      width: 100%;
      margin: 10px 0;
    }

  </style>
  <link rel="stylesheet" href="{{ static('asset', 'css/my-page.css') }}">
     <!-- find section -->
  <section class="find_section ">
    <div class="container">
      <form action="{{ route('hotels') }}" method="get">
        <div class=" form-row">
          <div class="col-md-10">
              {{ csrf_field }}
            <input type="text" class="form-control" name="keyword" placeholder="查询关键词 商圈/位置/酒店名 ">
            <input type="text" class="form-control" hidden name="page" value="{{ pages['pageNo'] }}">
            <input type="text" class="form-control" hidden name="sort" value="{{ sort }}">
          </div>
          <div class="col-md-2">
            <button type="submit" class="">
              search
            </button>
          </div>
        </div>

      </form>
    </div>
  </section>

  <!-- end find section -->
  <!-- sort section -->
<section class="find_section ">
    <div class="container">
      <div class="sortBtn">
        <div class=" form-row">
          <div class="col-md-3">
              <button class="btn btn-default {{ 'active' if sort=='1' else '' }}" onclick="sortHotel(1)">优选酒店</button>
          </div>

          <div class="col-md-3">
              <button class="btn btn-default {{ 'active' if sort=='4' else '' }}" onclick="sortHotel(4)">每晚房价向上排序</button>
          </div>

          <div class="col-md-3">
              <button class="btn btn-default {{ 'active' if sort=='5' else '' }}" onclick="sortHotel(5)">每晚房价向下排序</button>
          </div>

          <div class="col-md-3">
              <button class="btn btn-default {{ 'active' if sort=='6' else '' }}" onclick="sortHotel(6)">评价由高到低</button>
          </div>
    </div>
      </div>
    </div>
  </section>
  <!-- about section -->

  <section class="about_section layout_padding-bottom">
    <div class="square-box">
      <img src="{{ static('asset','square.png') }}" alt="">
    </div>
    <div class="container">
        {% for hotel in hotelsList %}
        <div class="row mt-5">
        <div class="col-md-6">
          <div class="img-box">
            <img src="http://pavo.elongstatic.com/405/{{ hotel['photoUrl'] }}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                {{ hotel['hotelNameCn'] }}
              </h2>
            </div>
            <p>
                <p class="hotelNameEn">{{ hotel['showHotelNameEn'] }}</p>
                <p class="hotelComment">{{ hotel['hotelCommentInfo']['commentScore'] }}分 {{ hotel['hotelCommentInfo']['scoreInfo'] }}</p>
                <p class="hotelLabels"> {{ hotel['hotelStarDesc'] }} |
                    {% for i in hotel['hotelLabels'] %}
                    {{ i }}
                    {% endfor %}
                </p>
                <p class="hotelDistrict">
                   该酒店靠近 "{{ hotel['poiDistrict']['name'] }}"
                </p>
                <p class="hotelBookInfo">
                    {{ hotel['bookInfo'] if hotel['bookInfo'] else "最新预订:暂无预定" }}
                </p>
                <p class="hotelLowestPrice">
                    <span class="price">￥<span style="font-size: 36px;">{{ hotel['hotelLowestPrice'] }}</span></span> 起
                </p>
            </p>
            <a href="{{ static('asset','hotels/'+hotel['hotelId']) }}">
              查看详情
            </a>
          </div>
        </div>
      </div>
        {% endfor %}
        <div class="col-12" style="margin-top: 5%">
            <center>
                <div class="my-page">
{#                    <li><a href="#">&laquo;</a></li>#}
{#                        <li><a href="#">1</a></li>#}
{#                    <li><a href="#">&raquo;</a></li>#}

                </div>
            </center>
        </div>
    </div>
  </section>
 <script src="{{ static('asset', 'js/my-page.js') }}"></script>
 <script>
         function replaceParamVal(paramName,replaceWith) {
            var oUrl = this.location.href.toString();
            var re=eval('/('+ paramName+'=)([^&]*)/gi');
            var nUrl = oUrl.replace(re,paramName+'='+replaceWith);
            this.location = nUrl;
        　　window.location.href=nUrl
        }
        function getQueryVariable(variable)
        {
           var query = window.location.search.substring(1);
           var vars = query.split("&");
           for (var i=0;i<vars.length;i++) {
                   var pair = vars[i].split("=");
                   if(pair[0] == variable){return pair[1];}
           }
           return(false);
        }
        myPageInit({
            pages: {{ pages['pageTotal'] }},
            currentPage: {{ pages['pageNo'] }},
            element: '.my-page',
            callback: function (page) {
                console.log("当前页:", page);
                if(page !== {{ pages['pageNo'] }})
                    replaceParamVal("page",page);

            }
        });
         function sortHotel(sort) {
             if (getQueryVariable('sort') == sort) {
                 replaceParamVal("sort", 0)
             } else {
                 replaceParamVal("sort", sort)
             }
         }
</script>
  <!-- end about section -->
{% endblock %}